body{
    height: 1000px;
    font-family: 'open sans', Arial, Helvetica, sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, #fff 0%, #ccd4e0 100%);
}

.novo{
    margin: auto;
    display: flex;
    width: 70%;
    padding: 20px;
    font-size: 1.5em;
    font-weight: bold;
    background-color:#fff;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: background-color .5s;

}
.novo:hover{
    background-color: #c51417;
    color: #fff;
}
#wrapper{
    width: 70%;
    margin: auto;
}

.card{
    display: block;
    background-color: #ffffff;
    box-shadow: 0px 0px 1px #ccc;
    float: left;
    overflow: hidden;
    padding: 0px;
    position: relative;
    width: 208px;
    cursor: pointer;
    margin: 20px 10px 0px 10px;
    border-radius: 0px 0px 10px 10px;
}
.card:hover{
    box-shadow: 0px 0px 20px #ccc;
}
.card img{
    margin-bottom: 10px;
    width: 100%;
    height: 130px;

}
.card h1{
    color: #333;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    text-align: left;
    float: none;
    padding-left: 15px;
    overflow: hidden;
    height: 92px;
    padding-right: 15px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}
.kartCijena {
    color: #666;
    font-size: 10px;
    line-height: 25px;
    text-align: left;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.vozilo_detalji_godina {
    color: #666;
    font-size: 10px;
    line-height: 25px;
    text-align: left;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    float: left;
}

.vozilo_detalji_kilometri {
    color: #666;
    font-size: 10px;
    line-height: 25px;
    text-align: left;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}